$content_padding: 100px;
$color_orange: rgb(210, 185, 185);
$color_orange_light: rgb(131, 112, 112);

html,body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: url("https://images7.alphacoders.com/694/thumb-1920-694702.jpg")
      no-repeat center center fixed;
    background-size: cover;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 8px 8px 16px -8px black;

    & .user-nav {
        padding-right: 40px;

        & a:hover {
            transition: all 0.3s;
            transform: translateX(-10px);

            & ~ .user-nav__content {
                display: block;
            }
        }

        & .user-nav__content {
            display: none;
            position: absolute;
            background-color: #ffffff;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

            &:hover {
                display: block;
            }

            & a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                transition: all 0.3s;
            }

        }


    }
}
.header a{
    text-decoration: none;
    color: black;
}

.header h3 {
    padding-left: 5px;
}

.user-nav {
    display: block;
    padding-top: 20px;
    padding-right: 5px;
}

.user-nav a {
    text-decoration: none;
    color: black;
}

.user-nav a:hover{
    background-color: $color_orange_light;
}

.main {
    background: url("https://images7.alphacoders.com/694/thumb-1920-694702.jpg")
      no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 1 0 auto;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

$shift: 150px;

.menu {
    background-color: rgb(134, 116, 116);
    //width: 20px;
    margin-right: 5px;

    & h3 {
        display: block;
        transform: rotate(-270deg);
    }

    & .menu-ul {
        display: none;
        border-radius: 6px;
        & li, li a {
            width: auto;
            padding: 10px;
            border-radius: 6px;
        }
    }

    &:hover {
        transition: .2s;
        transform: translateX(10px);

        & .menu-ul {
            display: block;

            block-size: auto;
            position: absolute;
            background-color: rgb(94, 77, 77);
            transition: 0.1s;
        }
    }

}

.menu-ul {
    list-style: none;
    margin: 5px;
    padding: 0px;
    display: flex;
    flex-direction: column;

    & ul {
        list-style: none;
        padding-left: 15px;

        & li:hover {
            background-color: $color_orange_light;
        }
    }
}

.menu-ul li a {
    color: black;
    text-decoration: none;
    display: block;
}

.menu-ul li a:hover{
    background-color: $color_orange;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    //justify-content: center;
}

$square-side: 250px;

.item1 {
    background-color: #f6f6f6;
    width: 250px;
    height: 335px;
    border: 2px solid;
    margin: 8px;
    padding: 0px;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    & img {
        width: 250px;
        height: 350px;
    }
}

.item {
    background-color: #f6f6f6;
    width: $square-side;
    height: $square-side;
    border: 2px solid;
    margin: 8px;
    padding: 0px;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    & img {
        width: $square-side;
        height: $square-side;
    }
}

.item:hover {
    border-color: $color_orange_light;
}
