<div class="body-block">
    <app-nav-bar></app-nav-bar>
    <div class="main">
        <div class="menu">
            <h3>Menu</h3>

            <ul class="menu-ul">
                <li><a href="goods">Adventure</a></li>
                <li><a href="goods">Horror</a></li>
                <li><a href="goods">Fantasy</a></li>
                <li><a href="goods">Science fiction</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="item"><a href="goods"><img src="https://i.pinimg.com/564x/c8/96/ce/c896ceb6f002fb3a25a5712f7bfffcb3.jpg" alt="">item0</a></div>
            <div class="item"><a href="goods"><img src="https://i.pinimg.com/564x/54/c6/64/54c664bedb39ce7dd8d07ae940e3c2f4.jpg">item1</a></div>
            <div class="item"><a href="goods"><img src="https://i.pinimg.com/564x/05/8a/4f/058a4f4bf85bb017f2157d4451715b62.jpg">item2</a></div>
            <div class="item"><a href="goods"><img src="https://i.pinimg.com/564x/95/7d/5c/957d5cb7ed36c77ecc8409d246f3e7ec.jpg">item3</a></div>
        </div>
    </div>
    <footer class="footer"></footer>

</div>
