<div class="body-block">
    <app-nav-bar></app-nav-bar>

    <div class="main">
        <div class="article">
            <div class="back-link">
                <span></span>
                <a href="goods">Back to search</a>
            </div>

            <div class="photo-container"><img src="https://images-na.ssl-images-amazon.com/images/I/71V8hxCv-iL.jpg"></div>
            <div class="price">
                <p>{{price}}</p>
                <div class="amount-container">
                    <button class="plus">
                        <img src="../../assets/svg/commerce-and-shopping.svg">
                    </button>
                    <button class="btn-delay">
                        <img src="../../assets/svg/commerce.svg">
                    </button>
                    <button class="btn-compare">
                        <img src="../../assets/svg/education.svg">
                    </button>
                </div>
            </div>
            <div class="desciption">
                <h3>Description</h3>
                {{description}}
            </div>
            <div class="behaviour">
                <h1> </h1>
            </div>
        </div>
    </div>
</div>
