<div class="header">
    <a href=""><h3>Book Store</h3></a>
    <div class="user-nav">
        <a>{{username}}</a>

        <div class="user-nav__content">
            <a href="user" [ngStyle]="{
                display: hideOut ? 'none' : 'block'
            }">Profile</a>
            <a href="" (click)="logOut()" [ngStyle]="{
                display: hideOut ? 'none' : 'block'
            }" >Log Out</a>
            <a href="login" class="btnLogin" [ngStyle]="{
                display: hideOut ? 'block' : 'none'
            }">Log in</a>
        </div>
    </div>
</div>
